<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <div class="form-row">
          <div class="col">
            <b-form-group
              label="Name"
              label-for="name"
              :invalid-feedback="invalidFeedbackName"
              :valid-feedback="validFeedbackName"
              :state="stateName"
            >
              <b-form-input
                id="name"
                v-model="form.name"
                required
              ></b-form-input>
            </b-form-group>
          </div>
          <div class="col">
            <b-form-group
              label="Surname"
              label-for="Surname"
              :invalid-feedback="invalidFeedbackSurname"
              :valid-feedback="validFeedbackSurname"
              :state="stateSurname"
            >
              <b-form-input
                id="Surname"
                v-model="form.Surname"
                required
              ></b-form-input>
            </b-form-group>
          </div>
        </div>

        <b-container class="bv-example-row">
          <b-row>
            <b-col sm>
              <b-form-group
                label="Birthday"
                label-for="Birthday"
                class="col-form-label"
                :invalid-feedback="invalidFeedbackBirthday"
                :valid-feedback="validFeedbackBirthday"
                :state="stateBirthday"
              >
                <input
                  type="date"
                  id="Birthday"
                  v-model="form.Birthday"
                  name="trip-start"
                  min="01-01-1990"
                  max="31-12-2020"
                />
              </b-form-group>
            </b-col>
            <b-col sm>
              <b-form-group
                label="Gender"
                label-for="gender"
                :invalid-feedback="invalidFeedbackGender"
                :valid-feedback="validFeedbackGender"
                :state="stateGender"
              >
                <b-form-select
                  id="gender"
                  v-model="form.gender"
                  :options="genderOptions"
                  required
                ></b-form-select>
              </b-form-group>
            </b-col>
          </b-row>
        </b-container>

        <b-form-group
          label="Education"
          label-for="Education"
          :invalid-feedback="invalidFeedbackEducation"
          :valid-feedback="validFeedbackEducation"
          :state="stateEducation"
        >
          <b-form-select
            id="Education"
            v-model="form.Education"
            :options="EducationOptions"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group
          label="Department"
          label-for="Department"
          :invalid-feedback="invalidFeedbackDepartment"
          :valid-feedback="validFeedbackDepartment"
          :state="stateDepartment"
        >
          <b-form-select
            id="Department"
            v-model="form.Department"
            :options="DepartmentOptions"
            required
          ></b-form-select>
        </b-form-group>

        <div class="form-row">
          <div class="col">
            <b-form-group
              label="Saraly"
              label-for="Saraly"
              :invalid-feedback="invalidFeedbackSaraly"
              :valid-feedback="validFeedbackSaraly"
              :state="stateSaraly"
            >
              <b-form-input
                id="Saraly"
                v-model="form.Saraly"
                required
              ></b-form-input>
            </b-form-group>
          </div>
          <div class="col"></div>
        </div>
      </form>

      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        id: -1,
        name: '',
        Surname: '',
        gender: null,
        Birthday: null,
        Education: null,
        Department: null,
        Saraly: ''
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'M', text: 'ผู้ชาย' },
        { value: 'F', text: 'ผู้หญิง' }
      ],
      EducationOptions: [
        { text: 'Select One', value: null },
        { value: 'ปริญญาตรี', text: 'ปริญญาตรี' },
        { value: 'มัธยมศึกษาปีที่6', text: 'มัธยมศึกษาปีที่6' },
        { value: 'ปวส.', text: 'ปวส.' },
        { value: 'ปวช.', text: 'ปวช.' }
      ],
      DepartmentOptions: [
        { text: 'Select One', value: null },
        { value: 'ผู้จัดการ', text: 'ผู้จัดการ' },
        { value: 'พนักงานขาย', text: 'พนักงานขาย' },
        { value: 'พนักงานพาร์ทไทม์', text: 'พนักงานพาร์ทไทม์' }
      ],
      userList: [
        {
          id: 1,
          name: 'Narumon',
          Surname: 'Yujaroen',
          gender: 'F',
          Birthday: '1999-02-22',
          Education: 'ปริญญาตรี',
          Department: 'ผู้จัดการ',
          Saraly: '15,000'
        },
        {
          id: 2,
          name: 'Hattaya',
          Surname: 'Nakchookeaw',
          gender: 'F',
          Birthday: '1998-08-20',
          Education: 'ปริญญาตรี',
          Department: 'พนักงานขาย',
          Saraly: '13,000'
        }
      ],
      lastId: 3,
      fields: [
        'id',
        'name',
        'Surname',
        'gender',
        'Birthday',
        'Education',
        'Department',
        'Saraly',
        'Operation'
      ]
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new user')
      this.title = 'เพิ่มผู้ใช้ใหม่'
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit ')
      console.log(user)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del ')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.name + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteUser(user)
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        name: '',
        Surname: '',
        gender: null,
        Birthday: null,
        Education: null,
        Department: null,
        Saraly: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Chack validate
      if (this.stateName === false || this.stateGender === false) {
        return
      }
      // Do when pass validation
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userList.push(user)
    },
    updateUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1)
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาด 2 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },

    stateSurname () {
      return this.form.Surname.length >= 2
    },
    invalidFeedbackSurname () {
      if (this.form.Surname.length > 2) {
        return ''
      } else if (this.form.Surname.length > 0) {
        return 'ชื่อต้องมีขนาด 2 ตัวอักษร'
      } else {
        return 'ต้องใส่นามสกุล'
      }
    },
    validFeedbackSurname () {
      return this.stateSurname === true ? 'สำเร็จ' : ''
    },

    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'กรุณาเลือกเพศ'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    },

    stateBirthday () {
      return this.form.Birthday != null
    },
    invalidFeedbackBirthday () {
      if (this.form.Birthday != null) {
        return ''
      } else {
        return 'กรุณาเลือกวันเกิด'
      }
    },
    validFeedbackBirthday () {
      return this.stateBirthday === true ? 'สำเร็จ' : ''
    },

    stateEducation () {
      return this.form.Education != null
    },
    invalidFeedbackEducation () {
      if (this.form.Education != null) {
        return ''
      } else {
        return 'กรุณาเลือกการศึกษา'
      }
    },
    validFeedbackEducation () {
      return this.stateEducation === true ? 'สำเร็จ' : ''
    },

    stateDepartment () {
      return this.form.Department != null
    },
    invalidFeedbackDepartment () {
      if (this.form.Department != null) {
        return ''
      } else {
        return 'กรุณาเลือกตำแหน่ง'
      }
    },
    validFeedbackDepartment () {
      return this.stateDepartment === true ? 'สำเร็จ' : ''
    },

    stateSaraly () {
      return this.form.Saraly.length >= 3
    },
    invalidFeedbackSaraly () {
      if (this.form.Saraly.length > 3) {
        return ''
      } else if (this.form.Saraly.length > 0) {
        return 'จำนวนเงินต้องมี 3 จำนวน'
      } else {
        return 'ต้องใส่จำนวนเงิน'
      }
    },
    validFeedbackSaraly () {
      return this.stateSaraly === true ? 'สำเร็จ' : ''
    }
  }
}
</script>
